.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #1D263B;
    position: fixed; /* added this line */
    top: 0; /* added this line */
    width: 100%; /* added this line */
    background-color: #343E3D;
    z-index: 1000; /* added this line */
  }
  
  #discover {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    background: linear-gradient(45deg, #ff0000, #ffa500, #ffff00, );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbowText 5s linear infinite; /* Added a CSS animation for the rainbow effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  } 
   .header h1 {
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    background: linear-gradient(45deg, #ff0000, #ffa500, #ffff00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbowText 5s linear infinite; /* Added a CSS animation for the rainbow effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }