#map {
  padding-top: 600px;
  padding-bottom: 10px;
  background-color: rgb(97, 91, 91);
}

div{
  padding-top: 40px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  height: 60px; /* Adjust the height of your header component */
}

